# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Logs
*.log

# Environments
.env
.venv/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code
.vscode/

# Pytest cache
.pytest_cache/

# MyPy
.mypy_cache/

# MacOS
.DS_Store

# PyCharm
.idea/

# Outputs
*.out